<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot password</title>
    <link rel="stylesheet" href="/forgot.css" type="text/css">
</head>
<body>
    <div class="outer">
        <div class="container">
            <div class="inner">
                <h1>forgot password</h1>
                <hr>
                {{#if serverSucess}}
                    <div class="success">{{serverSucess}}</div>
                {{/if}}
                {{#if serverError}}
                    <div class="error">{{serverError}}</div>
                {{/if}}
                <form action="/forgot" method="post">
                 Enter your registered email id<br>
                <input type="email" name="vEmail" id="email" placeholder="email" required><br>
                <input type="submit" id="sub" value="submit">
                </form>
            </div>
        </div>
    </div>
</body>
</html>