<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/forgot.css">
    <title>Reset</title>
</head>
<body>
     <div class="outer">
        <div class="container">
            <div class="inner">
                <h1>reset password</h1>
                <hr>
                {{#if serverSucess}}
                    <div class="success">{{serverSucess}}</div>
                {{/if}}
                {{#if serverError}}
                    <div class="error">{{serverError}}</div>
                {{/if}}
                <form action="/forgot/{{user.resetToken}}" method="post">
                 Change your password<br>
                 <input type="password" name="password" id="email" placeholder="New password" required>
                 <br>
                 <input type="password" name="cpassword" id="eemail" placeholder="Confirm password" required><br>
                <input type="submit" id="sub" value="submit">
                </form>
            </div>
        </div>
    </div>
</body>
</html>